*{
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 36px;
    padding: 10px;
}

h2{
    font-weight: 900;
    font-size: 40px;
}

h3{
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 50vh;
}

em{
    color: #ed2f80;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 20px;
    overflow: hidden;
    float: right;
}

.header{
    background: #2f80ed;
}

.title{
    color: #abccf7;
    font-size: 50px;
}

.nav{
    position: absolute;
    right: 0;
    margin-top: 2vh;
}

.btn{
    margin: 5px;
}

.btn-signup{
    background-color: #0e2647;
    color: #ffffff;
}

.btn-login{
    background-color: #ed2f80;
    color: #ffffff;
}

.searchbar{
    background: #f1faff;
}

.searchbar img{
    width: 100vh;
}

.container-fluid{
    display: flex;
    padding: 0;
    margin: 0;
}

.mission{
    background: #abccf7;
    width: 50%;
    height: 100vh;
    position: relative;
}

.missionStatement{
    margin-left: 5vh;
    margin-top: 35vh;
}

.categories{
    background: #ffffff;
    width: 50%;
    height: 100vh;
    text-align: center;
}

.categories img{
    height: 21vh;
    width: 21vh;
    margin: 5px;
}

.categoriesContent{
    margin-top: 35vh;
    margin-left: 5vh;
    margin-right: 5vh;
}